*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}



.box1{
    background-color: blue;
    width: 50%;
    float: left;
    height: 100vh;
    background-image: url(kota21.jpg);
    background-size: 100%;
    background-position: center;
}
.box2{
    width: 50%;
    float: right;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    padding-right: 50px;
}

.form {
    width: 90%;
    margin: 250px;
    margin: auto;
    border-radius: 40px;
    padding: 7px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid 2px gray;
}
label{
    margin: 12px;
}

.input {
    width: 90%;
    background-color: white;
    /* padding: 1%; */
    /* background-color: black; */
    
    
}

p{
    font-size: 25px;
    margin-bottom:      50px;
}

.sedang{
    margin-bottom: 13px;
}

.kecil{
    font-size: 10px;
    font-weight: lighter;
}

p span{
   color: orangered;

}

p img{
    width: 50px;
}

.form label input{
    margin: 20px;
}

.button{
    background-color: #3E00FB;
    border: none;
    margin-top: 14px;
    width: 90%;
    padding: 7px 30px;
    color: white;
    border-radius: 40px;
    cursor: pointer;
}
.logo{
    background-color: #3E00FB;
    align-items: center;
    /* display: flex; */
    
}

.content p{
    /* align-items: center; */
    justify-content: right;
}

.logo{
    width: 90%;
    height: 20vh;   
    background-color: black;

}
.image{
    height: 20vh;
    background-color: green ;
   width: 25%;
}

.h2{
    font-size: 14px;
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: brown;
    
    
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
}

.h2 h2{
    margin-left: 100px;
}
.name{
    font-weight: lighter;

}

.login{
    font-size: 20px ;
}